<div class="container">
    <div class="profile-info">
      <!--<img *ngIf="imagePreview" [src]="imagePreview" alt="Imagen de la propiedad" width="90">-->
    </div>
  
    <form [formGroup]="AddPropertyForm" id="AddPropertyForm">
      <div class="form-section">
        <div class="header">
          <button class="back-to-home">
            <i class="fa fa-long-arrow-left"></i>
            Back to home
          </button>
          <button class="edit-profile">
            Edit Property
          </button>
        </div>
  
        <div class="form-group">
          <span>User_id</span>
          <input type="text" placeholder="Nombre de la propiedad" id="nombre" formControlName="nombre">
        </div>
  
        <div class="form-group">
          <span>Price:</span>
          <input type="text" placeholder="Precio" id="precio" formControlName="precio">
        </div>
  
        <div class="form-group">
          <span>Place:</span>
          <input type="text" placeholder="Lugar" id="lugar" formControlName="lugar">
        </div>
  
        <div class="form-group">
          <span>Title:</span>
          <input type="text" placeholder="Título de la propiedad" id="title" formControlName="title">
        </div>
  
        <div class="form-group">
          <span>Description:</span>
          <textarea placeholder="Descripción de la propiedad" id="description" formControlName="description"></textarea>
        </div>
  
        <div class="form-group">
          <span>Address:</span>
          <input type="text" placeholder="Dirección de la propiedad" id="address" formControlName="address">
        </div>
  
        <div class="form-group">
          <span>Latitude:</span>
          <input type="text" placeholder="Latitud de la propiedad" id="latitude" formControlName="latitude">
        </div>
  
        <div class="form-group">
          <span>Longitude:</span>
          <input type="text" placeholder="Longitud de la propiedad" id="longitude" formControlName="longitude">
        </div>
  
        <div class="form-group">
          <span>Price per Night:</span>
          <input type="text" placeholder="Precio por noche" id="price_per_night" formControlName="price_per_night">
        </div>
  
        <div class="form-group">
          <span>Number of Bedrooms:</span>
          <input type="text" placeholder="Número de habitaciones" id="num_bedrooms" formControlName="num_bedrooms">
        </div>
  
        <div class="form-group">
          <span>Number of Bathrooms:</span>
          <input type="text" placeholder="Número de baños" id="num_bathrooms" formControlName="num_bathrooms">
        </div>
  
        <div class="form-group">
          <span>Max Guests:</span>
          <input type="text" placeholder="Capacidad máxima de huéspedes" id="max_guests" formControlName="max_guests">
        </div>
  
        <div class="save-btn">
          <button (click)="onSubmit()">Create Property</button>
        </div>
      </div>
    </form>
  </div>