<div class="main-container">
    <section>
        <div class="main-section">
            <div class="left-side">
                <button class="btn-primary btn-create">crear</button>
            </div>
            <div class="right-side">
                <label for="search">busca tus propiedades:</label>
                <input class="input-buscar-hotel" type="text" placeholder="buscar" />
                <button class="btn-primary btn-filter">filrar</button>
            </div>
        </div> 
    </section>
</div>
