<main>
  <section class="hero-header">
    <div class="hero-container">
      <div class="hero-row">
        <div class="hero-content">
          <h1 class="hero-title">Disfruta tus vacaciones con nostros</h1>
          <p class="hero-subtitle">
            Bienvenidos a stayNest, la plataforma que hará realidad todos tus
            viajes
          </p>
          <div class="hero-search-container">
            <input
              class="hero-search-input"
              type="text"
              placeholder="A donde quieres ir?"
            />
            <button type="button" class="hero-search-button">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="rent">
    <div class="component">
      <div class="image-wrapper">
        <img
          src="https://cdn.forbes.co/2020/02/sofitel-legend-santa-clara-outdoor-pool.jpg"
          alt="Descripción de la imagen"
        />
      </div>
      <div class="info">
        <p>Hotel 1</p>
        <p class="ubi">Ubicacion: Medellin</p>
        <p class="price">$141,135 COP por huésped</p>
      </div>
    </div>

    <div class="component">
      <div class="image-wrapper">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyP-E0QoB81_BhA8Nlner-lVXVuVQofvpO_w&s"
          alt="Descripción de la imagen"
        />
      </div>
      <div class="info">
        <p>Hotel 2</p>
        <p class="ubi">Ubicacion: Medellin</p>
        <p class="price">$341,455 COP por huésped</p>
      </div>
    </div>

    <div class="component">
      <div class="image-wrapper">
        <img
          src="https://cf.bstatic.com/xdata/images/hotel/max500/375381784.jpg?k=ef3ac0c53912e615f13e9e771cb60537f7bea62ab38fccdf73627bc6a2595421&o=&hp=1"
          alt="Descripción de la imagen"
        />
      </div>
      <div class="info">
        <p>Hotel 3</p>
        <p class="ubi">Ubicacion: Bogota</p>
        <p class="price">$241,135 COP por huésped</p>
      </div>
    </div>

    <div class="component">
      <div class="image-wrapper">
        <img
          src="https://cf.bstatic.com/xdata/images/city/square250/653338.jpg?k=685e6dfbea743087cddf602f58a8c48b567e82916d0e886dd104fb8348e96676&o=g"
          alt="Descripción de la imagen"
        />
      </div>
      <div class="info">
        <p>Hotel 4</p>
        <p class="ubi">Ubicacion: Bogota</p>
        <p class="price">$61,225 COP por huésped</p>
      </div>
    </div>

    <div class="component">
      <div class="image-wrapper">
        <img
          src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/38/90/6c/hotel-facade.jpg?w=1200&h=-1&s=1"
          alt="Descripción de la imagen"
        />
      </div>
      <div class="info">
        <p>Hotel 5</p>
        <p class="ubi">Ubicacion: Medellin</p>
        <p class="price">$111,134 COP por huésped</p>
      </div>
    </div>

    <div class="component">
      <div class="image-wrapper">
        <img
          src="https://a.mktgcdn.com/p/zZ4hqY3pXCZWB0Lq_LrwnKg-mASv8-tWESgLGHArEmM/1024x768.jpg"
          alt="Descripción de la imagen"
        />
      </div>
      <div class="info">
        <p>Hotel 6</p>
        <p class="ubi">Ubicacion: Cartagena</p>
        <p class="price">$243,334 COP por huésped</p>
      </div>
    </div>

    <div class="component">
      <div class="image-wrapper">
        <img
          src="https://cdn.luxuryhotel.world/file/hotcdn/hotel/cover-small/1530745_1634880124.jpg"
          alt="Descripción de la imagen"
        />
      </div>
      <div class="info">
        <p>Hotel 6</p>
        <p class="ubi">Ubicacion: Cartagena</p>
        <p class="price">$331,222 COP por huésped</p>
      </div>
    </div>

    <div class="component">
      <div class="image-wrapper">
        <img
          src="https://mividaviajera.com/wp-content/uploads/2021/03/alojamiento-cerca-salento-hoteles-hoteles-hostales-viajeros-mi-vida-viajera.jpg"
          alt="Descripción de la imagen"
        />
      </div>
      <div class="info">
        <p>Hotel 6</p>
        <p class="ubi">Ubicacion: Medellin</p>
        <p class="price">$111,223 COP por huésped</p>
      </div>
    </div>
  </section>
</main>
